<section ng-controller="boardsCtrl as boardsCtrl">
    <div>
        <section ng-controller="boardCtrl as boardCtrl" ng-repeat="board in boardsCtrl.boards">
            <a href="#!/{{board.board_id}}">{{board.board_name}}
            {{board.board_description}}
            {{board.board_date}}
            {{board.board_username}}</a>

            <span ng-click="boardCtrl.remBoard(board)"> X</span>
        </section>

        <section>
            <form ng-submit="boardsCtrl.addBoard()">
                <label>
                    <input type="text" ng-model="boardsCtrl.board_name">
                </label>
            </form>
        </section>
    </div>
</section>

